<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="//cdn.dianwutong.com/common/css/iconfont.css" />
    <link rel="stylesheet" href="//cdn.dianwutong.com/vendor/fancybox/jquery.fancybox.css"/>
</head>

<body style="opacity:0">
    {{content}}

    <script src="//cdn.bootcss.com/rxjs/5.2.0/Rx.min.js"></script>
    <script src="//cdn.dianwutong.com/vendor/jquery.min.js"></script>
    <script src="//cdn.dianwutong.com/vendor/jquery.cookie.js"></script>
    <script src="//cdn.dianwutong.com/vendor/fancybox/jquery.fancybox.js"></script>

</body>

</html>