<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 引入样式表 -->
    <link rel="stylesheet" type="text/css" href="//cdn.dianwutong.com/common/css/iconfont.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="//cdn.dianwutong.com/vendor/html5shiv_min.js"></script>
	<script src="//cdn.dianwutong.com/vendor/respond_min.js"></script>
	<![endif]-->

</head>

<body>
    <div class="row">
        <div class="nav-list">
            <div class="height5"></div>
            <div class="logo">
                <img src="//cdn.dianwutong.com/ems/image/logo.png">
            </div>
            <div class="height40"></div>
            <div class="nav-content">
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b;</i>
                    <span>配电室</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>正在报警</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>巡检问题</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>巡检安排</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>抢修日志 </span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>巡检日志</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>操作票</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>工作票</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div> 
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>抢修单</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer">
                    <i class="iconfont">&#xe60b</i>
                    <span>报警监控</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
                <div class="height20"></div>
                <div class="nav-item pointer" >
                    <i class="iconfont">&#xe60b</i>
                    <span>系统挂牌</span>
                    <i class="iconfont arrow">&#xe610</i>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="main-header bg-primary">
                <div class="width70 left font22">配电室智能化监管系统</div>
                <div class="width30 right pointer ">
                    <i class="iconfont">&#xe609;</i>
                    <span class="font16">刘永伟</span>
                    <i class="iconfont">&#xe610;</i>
                </div>
            </div>
           {{content}}

        </div>
    </div>


    <script src="http://cdn.bootcss.com/rxjs/5.2.0/Rx.min.js"></script>
    <script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdn.dianwutong.com/vendor/jquery.min.js"></script>
    <script src="//cdn.dianwutong.com/vendor/jquery.cookie.js"></script>
    <script src="//cdn.dianwutong.com/common/js/dateUtils.js"></script>

</body>

</html>