
	<div class="container">
		<div class="row">
			<div class="col-md-12 right">
				<div class="shu"></div>
				<div style="display:flex;justify-content:space-between;border-bottom:1px solid #bed5c3;">
					<div class="q">巡检问题</div>
					<div style="line-height:40px;">共搜索到 <span class="color-green" id="result-count">0</span>个问题</div>
				</div>
				<div class="height25"></div>
				<div class="wenti" id="bug-panel">
					<div class="xian"></div>
					<div style="height:100px;">
						<div class="row">
							<div class="col-md-3 kuai">报警时间</div>
							<div class="col-md-3 kuai">问题描述</div>
							<div class="col-md-3 kuai">配电室名称</div>
							<div class="col-md-3 kuai">巡检组长</div>
						</div>
					</div>
					<div id="inspection-bug-con" style="min-height:400px;">
						
					</div>
				</div>
				<div id="empty-panel">
					
				</div>
			</div>
		</div>
	</div>