<div class="container">
	<div class="row">
		<div class="col-md-12 right" style="padding:0;">
			<div style="background:#e8e8e8;height:48px;line-height:48px;padding:0 20px;">
				<div class="row">
					<div class="col-md-2">
						<span style="font-size:18px;">巡检日志</span>
					</div>
					<div class="col-md-8"></div>
					<div class="col-md-2" style="text-align:right;">
						<a href="inspection-log-list.html" style="color:#03b679;">返回巡检日志列表</a>
					</div>
				</div>
			</div>
			<div style="padding:18px 20px 18px 20px;">
				<div class="main-container">
					<div class="base-info">
						<div class="height35"></div>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4 text-align-c font18 bold">巡检日志</div>
							<div class="col-md-4 text-align-r font16 color-gray-a" style="padding:0px" id="inspection-date"></div>
						</div>
						<div class="height60"></div>
						<div class="row info font14">
							<div class="col-md-6 info-left">
								<div>配电室名称：
									<span id="power-room-name"></span>
								</div>
								<div>配电室等级：
									<span id="power-room-grade"></span>
								</div>
								<div>地址：
									<span id="power-room-address"></span>
								</div>
							</div>
							<div class="col-md-6 info-right">
								<div>客户：
									<span id="customer-name"></span>
								</div>
								<div>客户电话：
									<span id="customer-mobile"></span>
								</div>
							</div>
						</div>
					</div>
					<div id="inspection-content"></div>
					<div class="height80"></div>
				</div>
			</div>
		</div>
	</div>
</div>