
<div class="height6"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 right">
            <div class="shu"></div>
            <div class="q">巡检安排</div>
            <div class="one" id="arrange-situation-con">

                <div class="one-1">
                    <div style="margin-top:70px">昨天及以前</div>
                    <div class="height22"></div>
                    <div>历史安排</div>
                    <!--js填充 示例如下-->
                        <!-- <div class="one-1">
                        <div style="margin-top:70px">2016-05-09</div>
                        <div class="height22"></div>
                        <div>已安排</div>
                        </div> -->


                </div>
            </div>
        </div>
    </div>
</div>
