<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
</head>

<body>
	<div class="map-cotainer">
		<div id="main-map">

		</div>
	</div>
	<div id="inspection-grouper-list-panel">
		<div class="header">
			请选择组长
		</div>
		<div class="body" id="inspection-grouper-list">

		</div>
	</div>


	<script src="http://cdn.bootcss.com/rxjs/5.2.0/Rx.min.js"></script>
	<script src="//cdn.dianwutong.com/vendor/jquery.min.js"></script>
	<script src="//cdn.dianwutong.com/vendor/jquery.cookie.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TT0RktRPwhEbTvTRK5I416aW"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
	<script src="//cdn.dianwutong.com/vendor/convertor.js"></script>
	<script src="//cdn.dianwutong.com/common/js/dateUtils.js"></script>
</body>




</html>