<div class="content">
	<div class="height13"></div>
	<div class="bg-white">
		<div class="height30"></div> 
		<div class="header-list">
			<div class="item center bg-burst color-white">
				<div class="title font16 ">突发</div>
				0
				<div class="flag">突发</div>
			</div>
			<div class="item center bg-repair color-white">
				<div class="title font16 ">今日抢修日志</div>
				0
				<div class="flag">抢修</div>
			</div>
			<div class="item center bg-operate color-white">
				<div class="title font16 ">未完成操作票</div>
				0
				<div class="flag">操作票</div>
			</div>
			<div class="item center bg-inspect color-white">
				<div class="title font16 ">巡检安排情况</div>
				0
				<div class="flag">巡检安排</div>
			</div>
		</div>             
	</div>
</div>