
.color-yellow{
    color: #e9be2b;
}
img{
    border: none;
    outline: none;
}
.hot-hover:hover{
    color: #e9be2b;
}
.active-news{
    width: 850px;
    display: inline-block;
    padding-right: 50px;
}
.hot-news{
    width: 300px;
    display: inline-block;
    background: #f9f9f9;
    padding-bottom: 20px;
}
.left-header{
    border-bottom: 1px solid #d9d9d9;
}
.date{
    margin-right: 18px;
}
.source,.date{
    color: #737373;
}
/*.active-news-header{*/
    /*border-left: 6px solid #e9be2b;*/
    /*padding-left: 25px;*/
/*}*/
.active-news-list{
    padding: 0 26px 0 12px;
}
.active-news-con{
    line-height: 26px;
    color: #737373;
}

.active-news-date,.active-news-source{
    color: #737373;
}
.active-news-source{
    margin-left: 10px;
}
.inline-block-row-news{
    font-size: 0px;
    width: 100%;
}
.news-detail-border{
    border-bottom: 1px solid #d9d9d9;
}
.inline-block-row-news>*{
    display: inline-block;
    vertical-align: top;
}
.change-news-color{
    color: #a5a5a5;
}
.change-news-hover:hover{
    color: #e9be2b;
}
.hot-news-header{
    height: 30px;
}
.hot-news-header span{
    height: 100%;
    width: 6px;
    background: #e9be2b;
    margin-right: 23px;
}
.hot-news-con{
    margin: 0 29px;
    border-top: 1px solid #d9d9d9;
}
.hot-news-item-title{
    line-height: 26px;
}
.hot-news-item{
    border-bottom: 1px solid #d9d9d9;
}

.titile-index{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #bbbbbb;
    color: #ffffff;
    vertical-align: middle;
    margin-right: 3px;
}
.news-con img{
    max-width: 100%;
}