@import "common/common";
.table-container{
 overflow: hidden;
  background: #fff;
  z-index: 999;
  padding: 0;
  margin: 0 40px;
}
.html,body{
  z-index: 99;
  overflow: hidden;
  background: white;
}
