@import "common/common";

.container{
  height: 1000px;
  background: white;
  width: 100%;
  padding: 0;
}
.container .header{
  height: 95px;
  background:#d9d9d9 ;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.container .header span{
  display: inline-block;
  vertical-align: bottom;
  margin-left: 22px;
}
.content{
  width: 981px;
  margin: 0 auto;
}
.height70{
  height: 70px;
  width: 100%;
}
.arrow-foreground,.arrow-background{
  position: absolute;
  top:0;
  right: -15px;
  width: 0;
  height: 0;
  border-width: 15px 0 15px 15px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #d9d9d9;
  font-size: 0;
  line-height: 0;
  z-index: 1;
}
.border-current{
  border-color: transparent transparent transparent #e9be2b;
}
.arrow-background{
  position: absolute;
  right: -17px;
  top: -2px;
  border-left-color: #FFF;
  border-width: 17px 0 17px 17px;
}

.steps-bar{
  display: flex;
}
.step{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width: 216px;
  background: #d9d9d9;
  padding-left: 30px;
}
.step-current{
  color: white;
  background: #e9be2b;
}
.height30{
  height: 30px;
}
.height40{
  height: 40px;
}
.tip{
  color: #c2c2c2;
  padding-left: 20px;
}

.arrow-foreground,.arrow-background{
  position: absolute;
  top:0;
  right: -15px;
  width: 0;
  height: 0;
  border-width: 15px 0 15px 15px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #d9d9d9;
  font-size: 0;
  line-height: 0;
  z-index: 1;
}
.border-current{
  border-color: transparent transparent transparent #e9be2b;
}
.arrow-background{
  position: absolute;
  right: -17px;
  top: -2px;
  border-left-color: #FFF;
  border-width: 17px 0 17px 17px;
}

.steps-bar{
  display: flex;
}
.step{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width: 216px;
  background: #d9d9d9;
  padding-left: 30px;
}
.step-current{
  color: white;
  background: #e9be2b;
}
.height30{
  height: 30px;
}
.height40{
  height: 40px;
}
.tip{
  color: #c2c2c2;
  padding-left: 20px;
}
.content{
  width: 981px;
  margin: 0 auto;

}
.border{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.height76{
  height: 76px;
}
.height88{
  height: 88px;
}
.height60{
  height: 60px;
}
.con .success-tip{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}


button{
  width: 140px;
  height: 36px;
  background: #e9be2b;
  border: none;
  outline: none;
  color: white;
}
.color-red{
  color: red;
}
.alert-icon{
  display: inline-block;
  width: 38px;
  height: 38px;
}
.alert-icon{
  background: url('data:image/svg+xml,<svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"> <path fill="#13FF00" d="M8,0.033C3.582,0.033,0,3.6,0,8s3.582,7.967,8,7.967c4.418,0,8-3.567,8-7.967S12.418,0.033,8,0.033z M12.534,5.219L7.779,11.43c-0.091,0.118-0.227,0.193-0.376,0.207c-0.016,0.002-0.032,0.002-0.048,0.002 c-0.132,0-0.26-0.049-0.358-0.139L3.53,8.356C3.312,8.159,3.296,7.821,3.494,7.603c0.197-0.219,0.534-0.235,0.753-0.036l3.037,2.755 l4.403-5.751c0.18-0.233,0.514-0.278,0.748-0.099C12.669,4.65,12.714,4.985,12.534,5.219z"/> </svg>') no-repeat;
  background-size: 100% 100%;
}
.success{
  display: flex;
  align-items: center;
  justify-content: center;
}

