@import "common/common";
$width : 90%;

html,body{
  background: #fbfbfb;
  -webkit-user-select: none;
}
.user-head{
  width: 58px;
  height: 58px;
  background-size: cover;
  border-radius: 50%;
}
.color-yellow{
  color: $primary_color;
}
.detail{
  font-size: 14px;
  box-sizing: border-box;
  width: $width;
  background: white;
  margin-left: 70px;
  height: auto;
  padding: 30px;
  .user-icon{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }
  .suggest-desc{
    display: inline-block;
    .title{
      font-size: 18px;
      font-weight: normal;
    }
    .about-user{
      color: #6c6c6c;
      .color-black{
        color: #000;
      }
      .time{
        margin: 0 20px;
      }


    }
    .pic-container{
      max-width: 90%;
      height: auto;
      img{
        display: inline-block;
        max-width:100px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}
.comments{
  font-size: 14px;
  .save{
    width: 90%;
    padding: 20px 0;
    text-align: right;
      div{
        display: inline-block;
        width: 180px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: $primary_color;
        font-size: 18px;
        color: #585757;
      }
  }
  .user-name{
    height: 58px;
    line-height: 58px;
  }
  .user-icon{
    display:inline-block;
    vertical-align: top;
    margin-right: 20px;
  }
  box-sizing: border-box;
  width: $width;
  background: white;
  margin-left: 70px;
  height: auto;
  padding: 30px;
  .input-area{
    display:inline-block;
    width: 90%;
  }


  .comments-content{
    box-sizing: border-box;
    width: 90%;
    display: block;
    height: 60px;
    background: white;
    line-height: 16px;
    resize: none;
    padding: 5px;
  }
  .input-border{
    border: 1px solid #d6d6d6;
    outline: none;

    &:active{
      outline: none;
    }
  }


}
.comments-list{
  .item{
    margin-top: 50px;
  }
  .item:nth-child(1){
    margin-top: 0px;
  }
  .comments-area{
    display: inline-block;
    width: 90%;
    .time{
      color: $black_deep_color;
      font-size: 12px;
      margin-left: 15px;
    }
    .content{
      margin: 30px 0;
    }
    .operate{
      color: $black_deep_color;
      font-size: 12px;
      span:nth-child(1){
        margin-right: 15px;
        &:hover{
          color: $primary_color;
        }
      }
      span:nth-child(2){
        &:hover{
          color: $danger_color;
        }
      }

    }

  }
}