@import "./common/common";

.form-content{
    margin: 0 auto;
    width: 45%;
    text-align: left;
}
.form-content div{
    display: inline-block;
}
.form-content input{
    padding-left: 10px;
    display: inline-block;
    width: 300px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 32px;
}
.new-password-confirm {
    margin-left: -29px;
}
.submit{
    margin: 0 auto;
    width: 20%;
    text-align: right;
}
.submit input{
    display: inline-block;
    width: 100px;
    height: 34px;
    outline: none;
    border: none;
    border-radius: 6px;
}