@import "common/common";
html,body{
  overflow: hidden;
}
.container{
  height: 1000px;
  background: white;
  width: 100%;
  padding: 0;
}
.container .header{
  width: 100%;
  height: 95px;
  background:#d9d9d9 ;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.container .header span{
  display: inline-block;
  vertical-align: bottom;
  margin-left: 22px;
}
.content{
  width: 981px;
  margin: 0 auto;
}
.height70{
  height: 70px;
  width: 100%;
}
.arrow-foreground,.arrow-background{
  position: absolute;
  top:0;
  right: -15px;
  width: 0;
  height: 0;
  border-width: 15px 0 15px 15px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #d9d9d9;
  font-size: 0;
  line-height: 0;
  z-index: 1;
}
.border-current{
  border-color: transparent transparent transparent #e9be2b;
}
.arrow-background{
  position: absolute;
  right: -17px;
  top: -2px;
  border-left-color: #FFF;
  border-width: 17px 0 17px 17px;
}

.steps-bar{
  display: flex;
}
.step{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width: 216px;
  background: #d9d9d9;
  padding-left: 30px;
}
.step-current{
  color: white;
  background: #e9be2b;
}
.height30{
  height: 30px;
}
.height40{
  height: 40px;
}
.tip{
  color: #c2c2c2;
  padding-left: 20px;
}



.arrow-foreground,.arrow-background{
  position: absolute;
  top:0;
  right: -15px;
  width: 0;
  height: 0;
  border-width: 15px 0 15px 15px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #d9d9d9;
  font-size: 0;
  line-height: 0;
  z-index: 1;
}
.border-current{
  border-color: transparent transparent transparent #e9be2b;
}
.arrow-background{
  position: absolute;
  right: -17px;
  top: -2px;
  border-left-color: #FFF;
  border-width: 17px 0 17px 17px;
}

.steps-bar{
  display: flex;
}
.step{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width: 216px;
  background: #d9d9d9;
  padding-left: 30px;
}
.step-current{
  color: white;
  background: #e9be2b;
}
.height30{
  height: 30px;
}
.height40{
  height: 40px;
}
.tip{
  color: #c2c2c2;
  padding-left: 20px;
}
.content{
  width: 981px;
  margin: 0 auto;

}
.border{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.height76{
  height: 76px;
}
.height50{
  height: 50px;
}
.height24{
  height: 24px;
}
.con .phone,.con .code{
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone input{
  width: 211px ;
  height: 36px;
  padding-left: 10px;
}
.code input{
  width: 100px;
  height: 36px;
  padding-left: 10px;
}
.code .getCode{
  width: 138px;
  border: 1px solid #e9be2b;
  background: white;
  text-align: center;
}
input{
  border: 1px solid #d9d9d9;
}
input::-webkit-input-placeholder{
  color:    #d9d9d9;
}
input:-moz-placeholder {
  color:    #d9d9d9;
}
input::-moz-placeholder{
  color:    #d9d9d9;
}
input:-ms-input-placeholder{
  color:    #d9d9d9;
}
button{
  width: 140px;
  height: 36px;
  background: #dcdcdc;
  border: none;
  outline: none;
  color: white;
}
input:active,input:visited,input{
  outline: none;
}
.color-red{
  color: red;
}

.able{
  background: #E9BE2B;
}