@CHARSET "UTF-8";

@import "./common/common";

/*  抢修单   */
.header-nav .repairing-list{border-bottom:3px solid #03b679;  }
.header-nav .repairing-list a{color:#03b679;opacity: 1;font-weight:bold;  }


.right{width:1200px;min-height:800px;background:#f3f3f3;border:1px solid #c1d7c5;border-radius:4px;}

.list1{width:1155px;margin-top:50px;margin-left:10px;}


.list-head{height:105px;line-height:105px;font-size:24px;text-align:center;border-top:1px solid #b4b4b4;
border-left:1px solid #b4b4b4;border-right:1px solid #b4b4b4;
border-top-left-radius:4px;border-top-right-radius:4px;}


.list-body1{border:1px solid #b4b4b4;width:205px;height:80px;text-align:center;}
.list-body2{width:950px;border:1px solid #b4b4b4;padding-left:30px;}


.list-foot1{border:1px solid #b4b4b4;width:205px;height:225px;text-align:center;}
.list-foot2{width:320px;border:1px solid #b4b4b4;padding-left:30px;}





.btn1{height:245px;width:1155px;border-left:1px solid #b4b4b4;border-right:1px solid #b4b4b4;border-bottom:1px solid #b4b4b4;margin-bottom:60px;}
.btn-1{width:110px;height:50px;line-height:50px;background:#2aa763;display:inline-block;margin-top:35px;margin-left:35px;text-align:center;color:white;font-size:20px;cursor:pointer;}
.btn-2{width:110px;height:50px;line-height:50px;background:#2aa763;display:inline-block;margin-right:20px;margin-left:717px;text-align:center;color:white;font-size:20px;cursor:pointer;}
.btn-3{width:110px;height:50px;line-height:50px;background:#2aa763;display:inline-block;text-align:center;color:white;font-size:20px;cursor:pointer;}

.common-record{
	overflow:hidden;box-shadow:-1px 1px 3px #ccc;white-space:nowrap;padding:20px;border:1px solid #eee;
}

.common-record:hover{
	border:1px solid #0091dc;
}

.voice{
	width:64px;height:64px;background:#d1d1d1;text-align:center;padding:10px;cursor:pointer;
}

.repair-proccess-con{
	width:100%;
}