<header class="header" id="header">

    <div class="row">

        <div class="title">
            <span><a href="javascript:history.back()">报警查询</a></span>
            <span><i class="iconfont">&#xe605;</i></span>
            <span>详情</span>
        </div>

    </div>

</header>

<div class="header-placeholder"></div>

<div class="container">

    <div class="row">
        <div class="width60">
            <table class="ui-table">
                <tbody>
                    <tr>
                        <td class="center">警情描述</td>
                        <td id="alarm-desc"></td>
                    </tr>
                    <tr>
                        <td class="center">调度号</td>
                        <td id="DDNumber"></td>
                    </tr>
                    <tr id="threshold-value-line">
                        <td class="center">设定值</td>
                        <td id="threshold-value"></td>
                    </tr>
                    <tr id="alarm-value-line">
                        <td class="center">报警值</td>
                        <td id="alarm-value"></td>
                    </tr>

                    <tr>
                        <td class="center">报警类型</td>
                        <td id="alarm-type"></td>
                    </tr>
                    <tr>
                        <td class="center">报警时间</td>
                        <td id="alarm-time"></td>
                    </tr>
                    <tr>
                        <td class="center">配电室</td>
                        <td id="power-room"></td>
                    </tr>

                </tbody>
            </table>

        </div>


    </div>

</div>
<div class="container-fluid">
    <nav class="text-align-c">
        <ul class="pagination" id="pagination">
        </ul>
    </nav>

</div>