<header class="header" id="header">
    <div class="row">

        <div class="title">报警查询</div>

        <div class="width3"></div>

        <div class="width12">

            <div class="ui-select" tabindex="-1" id="alarm-position">
                <input placeholder="请选择位置" disabled>
                <span class="arrow"></span>
                <ul>

                </ul>
            </div>

        </div>

        <div class="width2"></div>

        <div class="width12">
            <div class="ui-select" tabindex="-1" id="alarm-status">
                <input placeholder="请选择时效" disabled>
                <span class="arrow"></span>
                <ul>
                    <li value="0" class="selected">全部时效</li>
                    <li value="1">实时报警</li>
                    <li value="2">历史报警</li>
                </ul>
            </div>
        </div>

        <div class="width2"></div>

        <div class="width12">
            <div class="ui-select" tabindex="-1" id="alarm-type">
                <input placeholder="请选择事件" disabled>
                <span class="arrow"></span>
                <ul>
                    <li value="0" class="selected">全部事件</li>
                    <li value="1">事故变位</li>
                    <li value="2">操作变位</li>
                    <li value="3">保护事件</li>
                    <li value="-1">其他</li>
                </ul>
            </div>
        </div>

        <div class="width2"></div>

        <div class="width12">
            <div class="ui-select" tabindex="-1" id="alarm-flag">
                <input placeholder="请选择状态" disabled>
                <span class="arrow"></span>
                <ul>
                    <li value="-1" class="selected">全部状态</li>
                    <li value="0">未处理</li>
                    <li value="1">处理中</li>
                    <li value="2">已完成</li>
                    <li value="3">已忽略</li>
                </ul>
            </div>
        </div>

        <div class="width2"></div>

        <div>
            <input id="date-range" class="date-range md" placeholder="请选择日期区间">
        </div>

        <div class="width2"></div>

        <div class="width5">
            <button class="ui-btn ui-btn-primary width100" id="query">查询</button>
        </div>
        <div class="width2"></div>
        <div class="width5">
            <button class="ui-btn ui-btn-primary width100" id="export">导出</button>
        </div>

    </div>
</header>

<div class="header-placeholder"></div>

<div class="container">
    <div class="alarm-con" id="alarm-con">

    </div>

</div>
<div class="height30"></div>
<nav class="center">
    <ul class="pagination" id="pagination"></ul>
</nav>

<script src="//cdn.dianwutong.com/common/js/dateUtils.js"></script>
<script src="//cdn.dianwutong.com/vendor/laydate/laydate.js"></script>