
<div class="main" style=" background: #d9d9d9;">
    <div class="header">

        <img src="//cdn.dianwutong.com/common/img/logo.png">
        <div class="greet">webview控件安装教程</div>

    </div>
</div>


<div class="main">

    <div class="content">

        <video src="//cdn.dianwutong.com/edp/vedio/webview-tutorial.mp4" controls="controls"></video>

    </div>


</div>


<div class="footer">

    <div class="row">

        <span>Copyright &copy;2015-2017 北京电务通能源股份有限公司</span>
        <span>京ICP备16028363号</span>

    </div>

    <div class="height20"></div>
    <div class="row">

        <div class="col-9">
            <img class="width100" src="//cdn.dianwutong.com/common/img/qrcode.dianwutong.app.png">
        </div>

        <div class="col-1"></div>

        <div class="col-9">
            <img  class="width100" src="//cdn.dianwutong.com/common/img/qrcode.dianwutong.wechart.png">
        </div>

        <div class="col-100"></div>

    </div>

    <div class="height14"></div>

    <div class="row">

        <div class="col-9 center">电务通APP</div>
        <div class="col-1"></div>
        <div class="col-9 center">电务通公众号</div>
        <div class="col-100"></div>

    </div>
</div>
