<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>

    </title>
    <link rel="stylesheet" href="//cdn.dianwutong.com/common/css/iconfont.css" />

</head>

<body>

    <!-- 隐藏域 -->
    <input type="hidden" id="page" value="1" />
    <div class="row">
        <div class="width14 bg-grey hidden" id="left">
            <div id="left-soso">

                <div class="center logo-container">
                    <img src="//cdn.dianwutong.com/edp/img/logo.png" style="max-width:90%;">
                </div>

                <div class="height10"></div>

                <div class="soso">

                    <input type="text" id="keyWord" style="border:none;width:100%;outline: none;padding-left:10px;">
                    <a href="#" id="search" style="color:rgba(0,0,0,0.3);font-size:2.5rem;text-decoration:none"><i class="iconfont">&#xe601;</i></a>

                </div>

                <div class="height10"></div>

            </div>

            <div id="power-room-con" style="overflow-y:scroll; overflow-x:hidden; margin-right:-15px;padding-bottom:100px">

                <div id="load-more-power-room" class="more">
                    加载更多
                </div>
            </div>
        </div>

        <div class="width86" style="overflow:hidden;">

            <div id="header" class="header row font12">

                <div class="width10">

                    <div id="toIndex" class="index-btn font20 pointer">首页</div>

                </div>

                <div class="width90 right">

                    <div class="dropdown font14">

                        <span href="#" id="username-con" tabindex="2" class="username-con">

                        <i class="iconfont font18">&#xe60e;</i>
                        <span style="padding:0 5px;" id="username"></span>
                        <span><i class="iconfont">&#xe602;</i></span>

                        </span>

                        <ul class="dropdown-menu">
                            <li id="updatePassword">修改密码</li>
                            <li id="suggest">用户反馈</li>
                            <li id="logout">退出登录</li>
                        </ul>
                    </div>

                </div>
            </div>
            <iframe id="main-frame" src="index.html"></iframe>
        </div>
    </div>

    <script src="//cdn.bootcss.com/rxjs/5.2.0/Rx.min.js"></script>
    <script src="//cdn.dianwutong.com/vendor/jquery.min.js"></script>
    <script src="//cdn.dianwutong.com/vendor/jquery.cookie.js"></script>
</body>

</html>