<header>
    <div id="AI-panel" class="row">

        <div class="title">历史数据</div>

        <div class="width3"></div>

        <div class="width12 ">
            <div class="ui-select" tabindex="-1" id="classify" >
                <input placeholder="请选择位置" disabled>
                <span class="arrow"></span>
                <ul>

                </ul>
            </div>
        </div>

        <div class="width2"></div>
        <div class="width12">
            <div class="ui-select" tabindex="-1" id="dispatchMum" >
                <input placeholder="请选择调度号" disabled>
                <span class="arrow"></span>
                <ul>
                </ul>
            </div>
        </div>

        <div class="width2"></div>
        <div class="width12 ">

            <div class="ui-select" tabindex="-1" id="select-interval" >

                <input placeholder="请选择时间粒度" disabled>
                <span class="arrow"></span>

                <ul>
                    <li value="86400">1天</li>
                    <li value="3600"  >1小时</li>
                    <li value="1800">半小时</li>
                    <li value="60" class="selected">1分钟</li>
                    <li value="5">5秒</li>
                </ul>

            </div>

        </div>

        <div class="width2"></div>

        <div>
            
            <input type="text" class="date-range md" id='date-range-for-day' placeholder="请选择日期区间" >
            <input type="text" class="date-range md" id='date-range-for-hour' placeholder="请选择日期区间" >
            <input type="text" class="date-range md" id='date-range-for-half-hour' placeholder="请选择日期区间" >
            <input type="text" class="date-range md" id='date-time-for-minute' placeholder="请选择时间" >
            <input type="text" class="date-range md" id='date-time-for-5-seconds' placeholder="请选择时间" >

        </div>

        <div class="width2"></div>
        <div class="width12">

            <div class="ui-check-box" tabindex="-1" id="type-check-box">
                <button class="ui-call">更多数据</button>
                <div class="ui-panel"  disabled="disabled">
                    <table class="ui-content">
                     <!--<tr>
                         <td value="1">电压</td>
                         <td value="2">电流</td>
                         <td value="4" class="checked">频率</td>
                     </tr>

                     <tr>
                         <td>A相电压总谐波畸变率</td>
                         <td>2</td>
                         <td>3</td>
                     </tr>-->
                    </table>
                    <div class="right">
                        <span class="ui-btn ui-clear"> 清除 </span>
                        <span class="ui-btn ui-ok"> 确定 </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="width2"></div>
        <div class="width5">

            <button class="ui-btn ui-btn-primary width100" id="query">搜索</button>

        </div>


    </div>
</header>
<div class="header-placeholder"></div>

<div class="container">
    <div class="ui-flex-table" id="data-flex-table" style="width:100%;height:100%;overflow: hidden;">
    </div>
    <div id="empty-tips" class="empty-tip"></div>
</div>

<script src="//cdn.dianwutong.com/common/js/dateUtils.js"></script>
<script src="//cdn.dianwutong.com/vendor/laydate/laydate.js"></script>
