

<header class="header" id="header">

    <div class="row">

        <div class="title">
            <span>日志查询</span>
            <span><i class="iconfont">&#xe605;</i></span>
            <span>巡检日志</span>
            <span><i class="iconfont">&#xe605;</i></span>
            <span>巡检问题</span>
        </div>

    </div>

</header>

<div class="header-placeholder"></div>


<div class="container">

    <div class="content font14">

        <div class="height15"></div>

        <div class="row">

            <div class="width100 center font16">巡检问题</div>

        </div>

        <div class="height15"></div>

        <div class="row">

            <div class="width10">配电室:</div>
            <div class="width90" id="power-room"></div>

        </div>

        <div class="height15"></div>

        <div class="row">

            <div class="width10">巡检组长:</div>
            <div class="width90" id="inspection-grouper"></div>

        </div>

        <div class="height15"></div>

        <div class="row">

            <div class="width10">提交时间:</div>
            <div class="width90" id="create-time"></div>

        </div>

        <div class="height15"></div>

        <div class="row">

            <div class="width10">问题描述:</div>
            <div class="width90" id="bug-desc"></div>

        </div>

        <div class="height15"></div>

        <div class="row none" id="repair-log">

            <div class="width10">抢修情况:</div>
            <div class="width90"> <a href="#" id="repair-log-link" class="color-primary">查看详情</a> </div>

        </div>

        <div class="height15"></div>

        <div class="row">

            <div class="width100" id="bug-pics"></div>

        </div>

    </div>

</div>
