
<div class="header">

    <img src="//cdn.dianwutong.com/common/img/logo.png">
    <div class="greet">欢迎使用EDP云系统，请登录</div>

</div>

<div class="main">

    <div class="row content">

        <div class="col-60">

            <img class="welcome" src="//cdn.dianwutong.com/edp/img/login.welcome.png">

        </div>

        <div class="col-40">

            <div class="login-panel">

                <div class="tips" id="tips">

                    <div>* <span id="tips-content"></span></div>

                    <div class="height20"></div>

                </div>

                <div>

                    <input type="text" id="username" placeholder="用户名">

                </div>

                <div class="height20"></div>

                <div>

                    <input type="password" id="password" name="txtPassword" placeholder="密码" autocomplete="off" onfocus="this.type='password'"
                        autocomplete="off">

                </div>

                <div class="height20"></div>

                <div class="row">

                    <div class="col-50">

                        <span class="remember">&nbsp;记住密码</span>

                    </div>
                    <div class="col-50 right" id="forget">

                        <span class="pointer forget">忘记密码</span>

                    </div>

                </div>

                <div class="height20"></div>

                <div class="row">

                    <button class="" id="check-in-btn">登录</button>

                </div>

                <div class="height20"></div>

                <div class="row">

                    <button class="able" id="experience">客户体验</button>

                </div>



                <div class="none" id="role-selector">

                    <div class="height18"></div>
                    <div id="roles"></div>

                </div>

            </div>

        </div>

    </div>

</div>


<div class="footer">

    <div class="row">

        <span>Copyright &copy;2015-2017 北京电务通能源股份有限公司</span>
        <span>京ICP备16028363号</span>
        <span>v2.0.0</span>

    </div>

    <div class="height20"></div>
    <div class="row">

        <div class="col-9">
            <img class="width100" src="//cdn.dianwutong.com/common/img/qrcode.dianwutong.app.png">
        </div>

        <div class="col-1"></div>

        <div class="col-9">
            <img class="width100" src="//cdn.dianwutong.com/common/img/qrcode.dianwutong.wechart.png">
        </div>

        <div class="col-100"></div>

    </div>

    <div class="height14"></div>

    <div class="row">

        <div class="col-9 center">电务通APP</div>
        <div class="col-1"></div>
        <div class="col-9 center">电务通公众号</div>
        <div class="col-100"></div>

    </div>
</div>