
<header class="header" id="header">

    <div class="row">

        <div class="title">
            <span>日志查询</span>
            <span><i class="iconfont">&#xe605;</i></span>
            <span><a href="javascript:history.back()">操作票</a></span>
            <span><i class="iconfont">&#xe605;</i></span>
            <span>详情</span>
        </div>

    </div>

</header>

<div class="header-placeholder"></div>

<div>
    <div class="height30"></div>
    <div id="ticket" class="ticket">
        <div id="snapshot" class="snapshot"></div>
        <div id="content" class="content padding60"></div>
        <div class="height40"></div>
        <div class="padding60">
            <div class="font12">工作结果</div>
            <div class="height5"></div>
            <div class="line"></div>
            <div class="height10"></div>
            <div class="work-result" id="work-result">
            </div>
        </div>
        <div class="height60"></div>
    </div>
    <div class="height100"></div>
</div>
