<header class="header">

	<div id="AI-panel" class="row">
		<div class="table-cell title">实时数据</div>

		<div class="width3"></div>

		<div class="width12">
			<div class="ui-select" tabindex="-1" id="classify" >
				<input placeholder="请选择位置" disabled>
				<span class="arrow"></span>
				<ul>

				</ul>
			</div>
		</div>

		<div class="width2"></div>

		<div class="width12">
			<div class="ui-select" tabindex="-1" id="dispatchMum" >
				<input placeholder="调度号" disabled>
				<span class="arrow"></span>
				<ul>
				</ul>
			</div>
		</div>

		<div class="width2"></div>

		<div class="ui-btn-group ui-btn-group-primary width12" id="tag-type-btn-group" >
			<button type="button" class="width50 ui-btn active" value="AI">AI</button>
			<button type="button" class="width50 ui-btn" value="DI">DI</button>
		</div>

		<div class="width2"></div>

		<div id="DDN-desc" class="title" style="font-size: 14px">

		</div>

	</div>

</header>
<div class="header-placeholder"></div>

<div class="container " id="table-container">
	<div class="row">
		<div class="width70">
			<table id="table-list" style="overflow-y: scroll; max-height: 500px;" class="ui-table" >
				<thead id="thead">
				<tr class="center">
					<td width="10%">序号</td>
					<td width="30%">数据类型</td>
					<td width="20%">实时值</td>
					<td width="10%" id="unit-title">单位</td>
				</tr>
				</thead>

				<tbody id="real-list" class="center">
				</tbody>

			</table>

			<div class="width100" id="empty-tips"></div>

		</div>

	</div>

</div>
