
<header class="header" id="header">
    <div class="row">

        <span class="title">统计报表</span>

        <div class="width3"></div>

        <div>

            <input id="date-range" class="date-range md" placeholder="请选择日期范围">

        </div>

        <div class="width2"></div>
        <div class="width12 ">
            <div class="ui-select" tabindex="-1" id="classify" >
                <input placeholder="请选择位置" disabled>
                <span class="arrow"></span>
                <ul>

                </ul>
            </div>
        </div>

        <div class="width2"></div>
        <div class="width12">

            <div class="ui-check-box" tabindex="-1" id="dispatchMum">
                <button class="ui-call">调度号</button>
                <div class="ui-panel"  disabled="disabled">
                    <div class="ui-content">
                        <table>
                            <!--<tr>-->
                            <!--<td value="1">电压</td>-->
                            <!--<td value="2">电流</td>-->
                            <!--<td value="4" class="checked">频率</td>-->
                            <!--</tr>-->

                            <!--<tr>-->
                            <!--<td>A相电压总谐波畸变率</td>-->
                            <!--<td>2</td>-->
                            <!--<td>3</td>-->
                            <!--</tr>-->
                        </table>
                    </div>

                    <div class="right">
                        <span class="ui-btn ui-clear"> 清除 </span>
                        <span class="ui-btn ui-all"> 全选 </span>
                        <span class="ui-btn ui-ok"> 确定 </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="width2"></div>

        <div class="width5">

            <button class="ui-btn ui-btn-primary width100" id="query" >查询</button>

        </div>

        <div class="width2"></div>

        <div class="width5">

            <button class="ui-btn ui-btn-primary width100" id="export-table">导出报表</button>

        </div>

        <div class="width2"></div>
        <div class="width10">

            <div class="checkbox-group">
                <input type="checkbox" id="toggleCharts"><label for="toggleCharts">图表显示</label>
            </div>

        </div>

    </div>
</header>
<div class="header-empty" style="height:6rem;z-index: 3;background:white;position: relative"></div>
<div class="table-container">
    <table class="ui-flex-table ui-table report-table" id="report-table">

    </table>
    <div id="report-charts"></div>

</div>

<div class="height30"></div>

<script src="//cdn.dianwutong.com/vendor/echarts/echarts.min.js"></script>
<script src="//cdn.dianwutong.com/vendor/echarts/echarts-gl.min.js"></script>
<script src="//cdn.dianwutong.com/vendor/laydate/laydate.js"></script>
<script src="//cdn.dianwutong.com/common/js/dateUtils.js"></script>
