
<div class="container">
    <div class="header">
        <div class="content">
            <img src="//cdn.dianwutong.com/edp/img/bee.png">
            <span>找回密码</span>
        </div>
    </div>
    <div class="height70"></div>

    <div class="content">
        <div class="steps-bar">
            <div class="step">
                <div>1.验证手机号</div>
                <span class="arrow-background "></span>
                <span class="arrow-foreground "></span>
            </div>
            <div class="step">
                <div>2.找回/重置密码</div>
                <span class="arrow-background "></span>
                <span class="arrow-foreground"></span>
            </div>
            <div class="step step-current">
                <div>3.完成</div>
                <span class="arrow-background "></span>
                <span class="arrow-foreground border-current"></span>
            </div>
        </div>
    </div>
    <div class="height30"></div>
    <div class="content border">
        <div class="height76"></div>
        <div class="con">
            <div class="success-tip">
                <span class="success"> <span class="alert-icon"></span>&nbsp;&nbsp;&nbsp;您的密码已经重置，请牢记您的登录密码</span>
            </div>
            <div class="height60"></div>
            <div class="center"><button id="login" class="pointer">立即登录</button></div>
        </div>
        <div class="height88"></div>

    </div>



    <div class="height40"></div>
    <div class="tip content">
        <div>没收到短信验证码？</div>
        <div>1.网络通讯异常可能会造成短信丢失，请重新获取或稍后再试。</div>
        <div>2.请核实手机是否已欠费停机，或者屏蔽了系统短信。</div>
        <div>3.如果手机已丢失或停用，请选择其他验证方式。</div>
        <div>4.您也可以尝试将SIM卡移动到另一部的手机，然后重试。</div>
    </div>
</div>

