<header class="header">
    <div class="data-type-group">
        <div class="radio-group">
            <input type="radio" name="type" value="#createSuggest" class="create-suggest" checked id="create-suggest">
            <label for="create-suggest">写反馈</label>
        </div>
        <div class="radio-group">
            <input type="radio" name="type" value="#suggestList" class="suggest-list " id="suggest-list">
            <label for="suggest-list">查询反馈</label>
        </div>
    </div>
</header>
<div class="header-placeholder"></div>
<div class="height30"></div>
<div class="container">
    <div class="suggest-container">
        <div class="title">
            <span class="name">*标题：</span><input class="input-area input-border" type="text" placeholder="反馈将会公开。请勿提交敏感内容"
                id="title">
            <div class="height12"></div>
            <div class="title-tip tip">标题输入限制50个字符</div>
        </div>
        <div class="isVisible" id="isVisible">
            <span>&nbsp;公开：</span>
            <div class="checkbox">
                <input type="checkbox" id="checkVisible" checked><label for="checkVisible" class="color-black"></label>
            </div>
            <div class="tip">公开表示其他用户可以看到</div>
        </div>
        <div class="height23"></div>
        <div class="content">
            <span class="name">*内容：</span>
            <div class="input-border content-input input-area" contentEditable="true" id="content">
                <br>
                <div>[问题描述]：</div>
                <br>
                <br>
                <br>
                <div>[建议方案]：</div>
            </div>
            <div class="height12"></div>
            <div class="content-tip tip">请输入内容</div>
        </div>
        <div class="height26"></div>
        <div class="upload">
            <span class="name">上传图片：</span>
            <div class="upload-button input-border center pointer button-normal">上传图片<input type="file" class="pointer" accept="image/png,image/jpg,image/gif" id="upload"></div>
            <div class="tip">选择文件，允许的文件类型：png, jpg, gif</div>
        </div>
        <div class="viewer"></div>
        <div class="height50"></div>
        <div class="submit center pointer button-normal " id="submit">提交反馈</div>
    </div>
    <!--写反馈-->


        <div class="list-container hide" style="display: none">

            <div class="select-area">
                <div class="select-btn active">反馈列表</div>
                <div class="select-btn">我的反馈</div>
                <div class="search-box">
                    <input type="text" class="input-border">
                    <a href="javascript:;" id="search-suggest"><i class="iconfont">&#xe601;</i></a>
                </div>
            </div>
            <div class="total center" id="total-all">已为您查询到<span class="color-danger"></span>条反馈</div>
            <div class="total center" id="total-personal" style="display: none">累计已提交<span class="color-danger"></span>条反馈</div>
            <div class="height30"></div>
            <div class="list" id="list">

            </div>
            <div class="center">
                <nav id="pagination" class="pagination"></nav>
            </div>
        </div>
        <!--我的反馈-->


</div>