<header class="header" id="header">

    <div class="row">

        <div class="title">
            <span>能耗分析</span>
            <span><i class="iconfont">&#xe605;</i></span>
            <span>分时分析</span>
        </div>

        <div class="width3"></div>

        <div class="data-type-group">

            <div class="radio-group">
                <input type="radio" name="type" value="DAY" class="data-type" checked id="data-type-day">
                <label for="data-type-day">日数据</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="type" value="MONTH" class="data-type" id="data-type-month">
                <label for="data-type-month">月数据</label>
            </div>
            <div class="radio-group">
                <input type="radio" name="type" value="YEAR" class="data-type" id="data-type-year">
                <label for="data-type-year">年数据</label>
            </div>
        </div>

        <div class="width2"></div>

        <div>

            <!--日数据 精确到天-->
            <input class="date-range md" id="date-for-day" placeholder="请选择查询范围" readonly/>
            <!--月数据精确到月-->
            <input class="date-range md none" id="date-for-month" placeholder="请选择查询范围" readonly/>
            <!--年数据精确到年-->
            <input class="date-range md none" id="date-for-year" placeholder="请选择查询范围" readonly/>

        </div>

        <div class="width2"></div>

        <div class="width5">

            <button class="ui-btn ui-btn-primary width100" id="search">查询</button>

        </div>

        <div class="width2"></div>

        <!--<div class="width5">-->

        <!--<button class="ui-btn ui-btn-primary  width100">导出报表</button>-->

        <!--</div>-->

    </div>

</header>

<div class="header-placeholder"></div>

<div class="container">
    <div class="menu-panel">
        <div class="title">回路名称</div>
        <div class="menu" id="menu">

        </div>
    </div>
    <div class="main-panel">
        <div class="top-chart" id="top-chart"></div>
        <div class="height40"></div>
        <div class="chart-container">
            <div class="bottom-chart" id="left-chart"></div>
            <div class="bottom-chart" id="right-chart"></div>
        </div>
    </div>


</div>

<script src="//cdn.dianwutong.com/vendor/echarts.min.js"></script>
<script src="//cdn.dianwutong.com/vendor/laydate/laydate.js"></script>
<script src="//cdn.dianwutong.com/common/js/dateUtils.js"></script>