<div class="container">
    <div class="height100"></div>
    <div class="height100"></div>
    <div class="form-content">
        <div class="tip"><span class="color-green" id="realName"></span>&nbsp;&nbsp;您好，请输入您的原密码和您的新密码，密码修改完成之后需要重新登录，请保管好您的个人密码。</div>
        <div class="height20"></div>
        <div class="user-name"><span>账号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="username"></span></div>
        <div class="height10"></div>
        <div class="origin-password"><span>原密码&nbsp;&nbsp;&nbsp;</span><input type="password" id="pwd">&nbsp;&nbsp;<span class="color-red" id="pwdTip"></span></div>
        <div class="height10"></div>
        <div class="new-password"><span>新密码&nbsp;&nbsp;&nbsp;</span><input type="password" id="newPwd">&nbsp;&nbsp;<span class="color-red" id="newPwdTip"></span></div>
        <div class="height10"></div>
        <div class="new-password-confirm text-right"><span>确认新密码&nbsp;&nbsp;&nbsp;</span><input type="password" id="newPwdConfirm">&nbsp;&nbsp;<span class="color-red"
                id="newPwdConfirmTip"></span></div>


    </div>
    <div class="height20"></div>
    <div class="submit">
        <input type="button" value="确定" class="btn-success" id="submit">
    </div>
</div>