
<div class="container">
    <div class="header">
        <div class="content">
            <img src="//cdn.dianwutong.com/edp/img/bee.png">
            <span>找回密码</span>
        </div>
    </div>
    <div class="height70"></div>

    <div class="content">
        <div class="steps-bar">
            <div class="step step-current">
                <div>1.验证手机号</div>
                <span class="arrow-background "></span>
                <span class="arrow-foreground border-current"></span>
            </div>
            <div class="step">
                <div>2.找回/重置密码</div>
                <span class="arrow-background "></span>
                <span class="arrow-foreground"></span>
            </div>
            <div class="step">
                <div>3.完成</div>
                <span class="arrow-background "></span>
                <span class="arrow-foreground"></span>
            </div>
        </div>
    </div>
    <div class="height30"></div>
    <div class="content border">
        <div class="height76"></div>
        <div class="con">
            <div class="phone">
                <span>手机号码：&nbsp;&nbsp;&nbsp;</span><input type="input" placeholder="请输入手机号码" id="phoneNumber">
            </div>
            <div class="height24 center"><span class="color-red" id="phoneTip"></span> &nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="code">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>验证码：&nbsp;&nbsp;&nbsp;</span><input type="input" placeholder="6位数字" id="codeNumber">&nbsp;&nbsp;&nbsp;
                <input type="button" id="countDown" class="getCode pointer" value="点击获取验证码">
            </div>
            <div class="height24 center"><span class="color-red" id="codeTip"></span> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</div>
            <div class="center">&nbsp; &nbsp;&nbsp;<button id="confirm" class=" pointer">确定</button></div>
        </div>
        <div class="height50"></div>

    </div>


    <div class="height40"></div>
    <div class="tip content">
        <div>没收到短信验证码？</div>
        <div>1.网络通讯异常可能会造成短信丢失，请重新获取或稍后再试。</div>
        <div>2.请核实手机是否已欠费停机，或者屏蔽了系统短信。</div>
        <div>3.如果手机已丢失或停用，请选择其他验证方式。</div>
        <div>4.您也可以尝试将SIM卡移动到另一部的手机，然后重试。</div>
    </div>
</div>

