//颜色

$primary_color : #e9be2b;
$danger_color : #ff0000;
$warning_color : orange;
$success_color : #03b679;

$white_color : #ffffff;
$black_color : #000000;
$grey_color : #f4f4f4;
$black_deep_color : #6c6c6c;

